body {
    background-color: yellow;
}

h1 {
    background-image: url("../images/Art.JPG");
    border-radius: 5px;
    color: red;
    padding: 5px;
}

#navigation {
    width: 100%;
    background: #2accf9;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-color: #f9922a;
}

.nav-table {
    border-right: 3px solid black;
    font-family: Tahoma;
    font-style: italic;

}

.nav-table:last-of-type {
    border: none;
}

#welcome {
    margin-left: 1.5%;
}

.welcome-section {
    margin-left: 2%;
    max-width: 95%;
}

#interest-table {
    border-style: solid;
    border-color: #f9922a;

    /*To center the table I margin-left and margin-right*/
    margin-left: auto;
    margin-right: auto;
}

#font {
    font-family: Helvetica;
    font-size: 50px;
}


a:link {
    color: #0000FF;
}

a:visited {
    color: #FF0000;
}



footer {
    position: fixed;
    margin-left: 38%;
    margin-right: 38%;
    max-width: 400px;
    font-weight: bold;
    font-family: Georgia;

    /*White-space: nowrap was used to prevent to 
    footer text from wrapping to a second line.*/
    white-space: nowrap;
}

@media screen body {max-width: 800px;}}

