body {
    background: blue;
}

#navigation {
    width: 100%;
    background: #2accf9;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-color: #f9922a;
}

.nav-table {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 3px;
}

#welcome {
    margin-left: 1.5%;
}

.welcome-section {
    margin-left: 2%;
    max-width: 95%;
}

#interest-table {
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

#art {
    background-image: url("");
}


