body {
    background-color: yellow;
}

h1 {
    background-image: url("../images/Art.JPG");
    border-radius: 5px;
    color: red;
    padding: 5px;
    text-shadow: 3px 3px #000000;
}

#navigation {
    width: 100%;
    background: #2accf9;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-color: #f9922a;
    text-shadow: 1px 1px #000000;
}

.nav-table {
    border-right: 3px solid black;
    font-family: Tahoma;
    font-style: italic;

}

.nav-table:last-of-type {
    border: none;
}

#welcome {
    margin-left: 1.5%;
}

.welcome-section {
    margin-left: 2%;
    max-width: 95%;
}

#interest-table {
    border-style: solid;
    border-color: #f9922a;

    /*To center the table I margin-left and margin-right*/
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 15px;
}

#interest-table tr:last-of-type {
    text-align: center;
}


.table-header {
    height: 50px;
}



#font {
    font-family: Helvetica;
    font-size: 50px;
}

#photograph-table {
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #0000FF;
}

a:visited {
    color: #FF0000;
}

#phobias {
    background-color: #FF0000;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    
}

footer {
    position: fixed;
    margin-left: 38%;
    margin-right: 38%;
    max-width: 400px;
    font-weight: bold;
    font-family: Georgia;

    /*White-space: nowrap was used to prevent to 
    footer text from wrapping to a second line.*/
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 38px;
    }
    p {
        font-size: 24px;
    }
    li {
        font-size: 24px;
    }
    th {
        font-size: 24px;
    }
    td {
        font-size: 24px;
    }
}

